.authentication_registration_container
  .left-panel
    .logo
      .logo-icon
        = image_tag 'logo.png', alt: 'Hand2Heart', class: 'logo-img'
      .logo-text
        = 'HAND2HEART'
    .welcome-text
      h1
        = 'Create'
        br
        = 'Account!'
      p
        = 'Join us today and start your journey. It only takes a moment to get started.'
      button.view-more-btn
        = 'Learn more'
  .right-panel
    h2.form-title
      = 'Create an account'
    form#register_form
      .form-group
        label[for="full_name"]
          = 'Full name'
        .input-wrapper
          .input-icon
          input#full_name[type="text" placeholder="John Doe" required="required"]
      .form-group
        label[for='email']
          = 'Email address'
        .input-wrapper
          .input-icon
          input#email[type="email" placeholder="name@mail.com" required="required"]
      .form-group
        label[for='password']
          = 'Password'
        .input-wrapper.has-toggle
          .input-icon
          input#password[type="password" placeholder="••••••••••••••" required minlength="8"]
          button.toggle-password[type="button" data-target="#password" aria-label="Show password"]
            i.icon-eye

      .form-group
        label[for='confirm_password']
          = 'Confirm password'
        .input-wrapper.has-toggle
          .input-icon
          input#confirm_password[type="password" placeholder="••••••••••••••" required]
          button.toggle-password[type="button" data-target="#confirm_password" aria-label="Show password"]
            i.icon-eye

      .form-row
        .form-group
          label[for='gender']
            = 'Gender'
          .input-wrapper
            .input-icon
            select#gender[required="required"]
              option[value=""]
                = 'Select gender'
              option[value="male"]
                = 'Male'
              option[value="female"]
                = 'Female'
        .form-group
          label[for='date_of_birth']
            = 'Date of birth'
          .input-wrapper
            .input-icon
            input#date_of_birth[type="date" required='required' value=@default_date_of_birth]
      .privacy-policy
        input#privacy[type="checkbox" required=""]
        label[for="privacy"]
          = 'I agree to the '
          a[href="#"]
            = 'Terms of Service'
          = ' and '
          a[href="#"]
            = 'Privacy Policy'
      button.register-btn[type="submit"]
        = 'Create account'
      .login-link
        = 'Already have an account? '
        = link_to "Sign in", login_path, class: "login-button"
