@import "bootstrap";
@import "authentication";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#toast-container {
  > div {
    opacity: 1;

    .toast-title,
    .toast-message {
      color: #ffffff !important;
    }
  }
  
  .toast-success {
    background-color: #51a351 !important;
  }
  
  .toast-error {
    background-color: #bd362f !important;
  }
  
  .toast-info {
    background-color: #2f96b4 !important;
  }
  
  .toast-warning {
    background-color: #f89406 !important;
  }
}

