doctype html
html
  head
    title
      = content_for(:title) || 'Hand2Heart'
    meta[name='viewport' content='width=device-width,initial-scale=1']
    meta[name='apple-mobile-web-app-capable' content='yes']
    meta[name='mobile-web-app-capable' content='yes']
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    link[rel='manifest' href='/manifest.json']
    link rel='icon' type='image/png' href=asset_path('logo.png')
    link rel='apple-touch-icon' href=asset_path('logo.png')

    = Gon::Base.render_data

    link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    script src="https://code.jquery.com/jquery-3.7.1.min.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"

    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  body
    = yield
